# Python
venv/
__pycache__/
*.pyc
# Jupyter
.ipynb_checkpoints
# Data
data/raw/*
# OS
Thumbs.db
.DS_Store

# Optional: if your pbix is very large, ignore it and host externally
# powerbi/*.pbix

venv/
__pycache__/
.ipynb_checkpoints
data/raw/
*.pyc
Thumbs.db
.DS_Store

